<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listener.My_Listener"/>
    </listeners>
    <parameter name="browser" value=""/>
    <suite-files>
        <suite-file path="Sprint1_PositiveScenarios.xml"/>
    </suite-files>
</suite>